article {
  p {
    //text-indent: 1.5em;
  }

}

article {
  h1,h2,h3,h4 {
    text-align: left;
  }
  p {
	  text-align:justify;
  }
  a {
    color: $primary;
    &:hover {
      color: $primary;
    }
  }
}
