#banners {
  margin: 0;
  padding-top: $spacer;
  @include make-row;

  li {
    @extend .col-md-4;
    margin-bottom: $spacer;
    text-align: center;
  }

  h2 {
    display: none;
  }

  img {
    border-radius: 15px;
  }
}
