#banners {
  @extend .container;
  margin-top: $spacer*2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  li {
    flex-shrink: 0;
    margin-bottom: $spacer;
  }

  h2 {
    display: none;
  }

  img {
    border-radius: 15px;
  }
}
