.carousel-image {
  height: 500px;
  object-fit: cover;
  object-position: 50% 40%;
}


.carousel-caption {
  @include img-overlay;
  @include rounded;
  text-align: left;
  bottom: 30px;
  left: 10%;
  right: 50%;
}

.carousel-inner a {
  color: white;
  //text-decoration: none;
}

.carousel-indicators {
  left: auto;
  margin: 0;
  bottom: 30px;
  right: 10%;

  li {
    height: 30px;
    border-radius: 50%;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
}
