.carousel-image {
  height: 500px;
  object-fit: cover;
  object-position: 50% 40%;
}

.carousel-caption {
  @include img-overlay;
  border-radius: $border-radius;
  text-align: left;
  bottom: 30px;
  left: 7%;
  right: 43.5%;
  font-size: 18px;
  line-height: 21px;

  h5 {
    font-size: 48px;
    line-height: 55px;
    margin-top: 20px;
    margin: 0 11px;
  }
  p {
    margin-left: 11px;
    margin-bottom: 20px;
  }
}
.active {
  ol {
  width: 30px;
  height: 300px;
}
}
