// Required
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

@import '~bootstrap/scss/_reboot';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_utilities';
@import '~bootstrap/scss/_images';
@import '~bootstrap/scss/_nav';
@import '~bootstrap/scss/_badge';


//@import 'bootstrap';


@import './vars';
@import './tile';
