$footer-bg: gray;
$footer-color: black;

footer {
  margin-top: $spacer*3;
  background: $footer-bg;
  color: $footer-color;
  padding: $spacer*2 0;

  a {
    color: #000000;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .menu {
    padding-left: 0;
    font-size: 18px;
    font-height: 21px;
    list-style-type: none;
  }

  h2 {
    display: none;
  }
}
@mixin creator () {
  $color: #555;
  color: $color;
  font-size: 0.8rem;

  a {
    color: $color;
  }
}

#creator {
  @include creator;
  margin-top: ($spacer * 2);
  margin-bottom: ($spacer * .5);
}

#generator {
  @include creator;
}
