footer {
  background: gray;
  color: #000000;
  padding: 40px 0 50px 0;
}


.menu {
  
    padding-left: 0;
    font-size: 18px;
    font-height: 21px;
    list-style-type: none;
    a {color: #000000;
    }
}
.custom-html-widget {
//  color: #000000;
}
.textwidget {


  margin: 0 19px;
}
