/* Кастомизация блоков гутенберга */

.wp-block-media-text {
  margin-bottom: $spacer/1.5;
  .wp-block-media-text__content * {
    text-align: left;
    text-indent: 0;
  }
  .wp-block-media-text__media img {
    border-radius: $radius;
    border: 1px solid #eee;
  }
}
