header {

  #logo {
    img {
      height: 120px !important;
    }
  }
  #description {
    img {
      height: 50px !important;
    }
  }

  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

  .menu, .widget {
    margin-top: ($spacer * .7);
  }

  .widget_nav_menu {
    text-align: right;
  }

}
