header {

  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

.row {
  margin-top: ($spacer * .5);
}

.right-top-widget-area .widget {
  margin-top: $spacer;
}

.widget_nav_menu {
  text-align: right;
}

}
.visually_impaired {
  a {color: black;}
}



#logo {
  img {
    height: 100px !important;
  }
}
#description {
  img {
    height: 50px !important;
  }
}
