header {
  .container {
    padding-bottom: $spacer;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
  }

  .widget-inline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #description {
    height: 35px;
    z-index: 1000;

    img {
      @include img-fluid;
      height: 50px;
    }
  }

  #logo {
    img {
      @include img-fluid;
      height: 120px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu,
  .widget {
    margin-top: ($spacer * .7);
  }

  .widget_nav_menu {
    text-align: right;
  }

  a {
    color: black;

    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
}
@include media-breakpoint-down(sm) {
  .widget-inline div,
  .widget_bvi_widget a {
    width: 100%;
    text-align: center;
  }

  .logo-container {
    margin: 0 auto;
  }
}
