#menu-main {

  text-align: center;
  margin-top:30px;
  margin-bottom:30px;
  li {
    margin: 0 50px;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    line-height: 28px;
    font-family: Cuprum;
    a {
      color: black;
    }
  }
  li.active a {
    @extend .active;
  }
  .current-menu-item {
    background: gray;
    border-radius: 30px;
    font-family: Roboto;
    font-weight: bold;

  }
}
