@mixin img-overlay {
  background: rgba(0,0,0,0.5);
  padding: $spacer;
}
@mixin rounded($radius: 15px) {
  border-radius: $radius !important;
}
@mixin social-badge {
  @include rounded(20px);
  border: $stroke;
  line-height: 30px;
}
