#searchform {
  width: 100%;
}
#searchform  div {

  input {

    display:inline-block;
  }

  #s {
    width:80%;
    float: left;
    @extend .form-control;

  }
  #searchsubmit {
    width:19%;
    margin-left: 1%;
    @extend .btn;
    @extend .btn-secondary;
  }
}
