#menu-social {
  display: flex;
  justify-content: space-between;
  //flex-wrap: wrap;
  a {
    @extend .badge;
    @include social-badge;
  }

  a:hover {
    color: $white;
  }

  .goskatalog:hover a {
    background: rgb(160,160,160);
  }

  .instagram:hover a {
    background: rgb(192, 64, 113);
  }

  .youtube:hover a {
    background: rgb(234, 54, 29);
  }

  .facebook:hover a {
    background: rgb(70, 137, 248);
  }

  .vk:hover a {
    background: rgb(84, 116, 164);
  }
}
