$font-size-base: 15;
$badge-font-size: $font-size-base;
$badge-font-weight: normal;
$badge-padding-x: 18px;
$menu-font-size: 20px;
$red: #D62B30;
$primary: $red;
$stroke-color: #B9B9B9;
$stroke-color-1: #888888;
$border-radius: 20px;
$stroke: 1px solid $stroke-color;
$link-color: $blue;
$nav-pills-link-color: black;
$nav-pills-link-active-bg: #bbb;
$nav-pills-link-active-color: black;
$headings-font-family: "Cuprum";
$line-height-base: 1.3;

$carousel-caption-width: 50%;
